// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

p {
  font-family: "Arial Black", Gadget, sans-serif;
  margin-bottom: 1em;
}

#demo {
  margin: 0px;
}

.demo {
  margin: 0px;
}
